@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    background-color: black;
}

video {
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    z-index: -2;
  }

header nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-subrayado {
    width: 70%;
    color: red;
    border: 4px double gray;
    margin: 0 auto;
    border-bottom-width: 2px;
    border-radius: 4px;
}
.nav-logo-container{
    /* border: 1px solid yellow; */
    height: 100%;
    min-width: 300px;
}
.nav-logo-container img{
    /* border: 1px solid red; */
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.container-coding-logo{
    display: flex;
    align-items: center;
    /* border: 1px solid salmon; */
    height: 100%;
}
nav .coding-logo{
    max-width: 100%;
    max-height: 70%;
}
nav .nav-title h1{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
/*HEADER Y VIDEO TERMINADOS*/

.info-container{
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 5px;
    height: min-content;
    width: 80%;
    margin: 30px auto;
    padding: 0px 20px;
}
p {
     margin: 0 ;
}
/*CONTENEDOR INFO TEMR*/

.container-info-title{
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: chocolate;
}
.comando-git{
    color: burlywood;
    font-weight: 900;
    font-size: 21px;
    margin: 14px 0px 0 ;
}

.icons .icon{
    color: aliceblue;
}
.aviso{
    text-decoration: underline;
}